<script type="text/javascript" th:src="@{/js/jquery-3.2.1.min.js}"></script>
<script type="text/javascript" th:src="@{/js/transition.js}"></script>
<script type="text/javascript" th:src="@{/js/collapse.js}"></script>
<script type="text/javascript" th:src="@{/js/moment.js}"></script>
<script type="text/javascript" th:src="@{/bs/js/bootstrap.min.js}"></script>
<!-- Bootstrap Date-Picker Plugin -->
<script type="text/javascript" th:src="@{/js/bootstrap-datepicker.min.js}" src="js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript" th:src="@{/js/numberToWords.js}" src="js/numberToWords.js"></script>
<script type="text/javascript" th:src="@{/js/typeahead.bundle.js}" src="js/typeahead.bundle.js"></script>
<script type="text/javascript" th:src="@{/js/jquery.dataTables.js}"></script>
<script type="text/javascript" th:src="@{/js/dataTables.bootstrap.js}"></script>	
<script type="text/javascript" th:src="@{/js/dataTables.fixedColumns.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.maskedinput.js}" src="js/jquery.maskedinput.js"></script>
<script type="text/javascript" th:src="@{/sweetalert2/dist/sweetalert2.min.js}" src="sweetalert2/dist/sweetalert2.min.js"></script>
<script type="text/javascript" th:src="@{/js/jquery.spring-friendly.js}"></script>