<nav class="navbar navbar-default ">
	<div class="container">
		<div class="navbar-header">
			<a href="javascript:;"><img th:src="@{/content/images/logo.png}" /></a>
			<span class="appName">Service Request</span>
		</div>
		<ul class="nav navbar-nav navbar-right">
			<li id="menuHome"><a style="color: #008000;" th:href="@{/invoice-entry}">Pending Approvals</a></li>
			<li id="menuMasterSales"><a style="color: #008000;" th:href="@{/master-sales/list}">Request Types</a></li>
			<!--
			<li id="menuReportLinks"><a style="color: #008000;" th:href="@{/report-link/}">Reports</a></li>			
			<li id="menuDropdown" class="dropdown">
				<a style="color: #008000;" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">More... <span class="caret"></span></a>
				<ul class="dropdown-menu">
				    <li id="menuCustomer"><a th:href="@{/customer/list}">Customer</a></li>
					<li id="menuPriceList"><a th:href="@{/price-list/list}">Price List</a></li>
	                <li role="separator" class="divider"></li>
	                <li id="menuSalesReturn"><a th:href="@{/sales-return/}">Sales Return</a></li>
					<li id="menuStockTransfer"><a th:href="@{/stock-transfer/}">Stock Transfer</a></li>
					<li id="menuPouchPrint"><a th:href="@{/pouch-print/}">Pouch Print</a></li>
					<li id="menuLedger"><a th:href="@{/ledger/list}">Ledger</a></li>
					<li id="menuProcurement"><a th:href="@{/procurement/}">Procurement</a></li>
				</ul>	
			</li>
			 -->
			<li>
				<a href="javascript: document.logoutForm.submit()"><span class="glyphicon glyphicon-log-out"></span>&nbsp;Logout</a>
			   	<form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
			      	<input type="submit" value="Logout"/>
			   	</form>
		   	</li>	        
		</ul>
	</div>
</nav>