<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!--/*/	
<headerfiles th:replace="~{fragments/general.html :: headerfiles}"> </headerfiles> 
/*/-->
<body>
	
	<header th:replace="~{fragments/general.html :: header}"> </header>	
	
	<div class="container-fluid">		
	    <div class="row" >
	    	<div class="col-md-12 ">
    			<div class="col-md-offset-3 col-md-6">
    				<div th:if="${message} != null">
					    <div class="alert alert-dismissible" th:classappend="${alertCss}" role="alert">
						<button type="button" class="close" data-dismiss="alert"  aria-label="Close">
							<span aria-hidden="true">×</span>
						</button>
						<strong><span th:text="'Message: ' + ${message}"></span></strong>
					    </div>
					</div>
    			</div>
    		</div>    		
		    <div class="col-md-12">
	            <div class="panel panel-primary">
				  <div class="panel-heading">
				    <h3 class="panel-title">Request Items</h3> 				    
				  </div>
				     <div class="panel-body" >
				     	<div class="table-responsive">
					     	<table id="requestItemList" style="width: 100%" class="table table-hover table-bordered table-striped dt-responsive nowrap">
								<thead>
									<tr>
						                <th>ID</th>
					                    <th>Item</th>					                   
					                    <th>Description</th>
					                    <th>Created By</th>
					                    <th>Created Date</th>
					                    <th>Modified By</th>
					                    <th>Modified Date</th>
					                    <th data-orderable="false">Operation</th>
						            </tr>
								</thead>
							</table>
						</div>
				     </div>			          
				</div>
			</div>
		</div>
	</div>
	<!-- /.container -->
	
	<div class="modal fade" id="addRequestItemModal" tabindex="-1" role="dialog" aria-labelledby="requestItemModalLabel" aria-hidden="true">
	    <div class="modal-dialog">
	        <div class="modal-content">
	            <!-- Modal Header -->
	            <div class="modal-header modal-header-primary">
	                <button type="button" class="close" data-dismiss="modal">
	                	<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
	                </button>
	                <h3 class="modal-title">New Request Item</h3>
	            </div>
	            <!-- Modal Body -->
	            <div class="modal-body">                
	                <form action="#" class="form-horizontal" id="requestItemForm" th:object="${requestItem}" th:action="@{/request-item/save}" method="post">
	                  <div class="form-group">
			                <label class="col-sm-3 control-label">Request Item</label>
			                <div class="col-sm-9">
			                    <input type="text" id="item" th:field="*{item}" class="form-control" />
			                    <input type="hidden" th:field="*{id}" id="reqItemId"/>
			                </div>
			            </div>			            
			            <div class="form-group">
			                <label class="col-sm-3 control-label">Description</label>
			                <div class="col-sm-9">
			                    <!-- <input type="text" id="description" th:field="*{description}" class="form-control" /> -->
			                    <textarea th:field="*{description}" id="description" class="form-control"></textarea>			                    
			                </div>
			            </div>
			            <div class="modal-footer" >
		            		<button type="button" class="btn btn-default btnMinWidth" data-dismiss="modal">Close</button>
	               			<button type="button" class="btn btn-primary btnMinWidth" id="btnSave">Save</button>
			            </div>
	                </form>
	            </div>
	        </div>
	    </div>
	</div>
	
	
	
	<footer th:replace="~{fragments/general.html :: footer}"> </footer>	
	
	<script type="text/javascript" th:src="@{/content/js/jquery-3.2.1.min.js}"></script>
	<script type="text/javascript" th:src="@{/content/js/transition.js}"></script>
	<script type="text/javascript" th:src="@{/content/js/collapse.js}"></script>
	<script type="text/javascript" th:src="@{/content/js/moment.js}"></script>
	<script type="text/javascript" th:src="@{/content/bs/js/bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/content/js/bootstrap-datepicker.min.js}"></script>
	<script type="text/javascript" th:src="@{/content/js/numberToWords.js}" ></script>	
	<script type="text/javascript" th:src="@{/content/js/bootstrap-typeahead.js}" ></script>	
	<script type="text/javascript" th:src="@{/content/js/jquery.dataTables.js}"></script>
	<script type="text/javascript" th:src="@{/content/js/dataTables.bootstrap.js}"></script>	
	<script type="text/javascript" th:src="@{/content/js/dataTables.fixedColumns.js}"></script>
	<script type="text/javascript" th:src="@{/content/js/jquery.maskedinput.js}" ></script>
	<script type="text/javascript" th:src="@{/content/sweetalert2/dist/sweetalert2.min.js}" ></script>
	<script type="text/javascript" th:src="@{/content/js/jquery.spring-friendly.js}"></script>
				
	<script th:inline="javascript">
	/*<![CDATA[*/
		var _ctx = $("meta[name='ctx']").attr("content");
		if (_ctx === undefined) {
			_ctx = "";
		}
		$(document).ready(function() {
			$("#loader").fadeOut(1000);
			$("#menuDropdown").addClass('active');
			$("#menuRequestItems").addClass('active');	
			
			$("body").tooltip({ selector: '[data-toggle=tooltip]' }); 
			
			var table = $('table#requestItemList').DataTable({
				'ajax' : '/sr/request-item/dt',
				/*"paging" 	 : $('table#sample tbody tr').length>10,*/
				'serverSide' : true,				
				columns : [
					{
	                    data: 'id'
	                },
	                {
	                    data: 'item'
	                },
	                {
	                    data: 'description'
	                },
	                {
	                    data: 'createdBy'
	                },
	                {
	                    data: 'createdDate',
	                },
	                {
	                    data: 'modifiedBy'
	                },
	                {
	                    data: 'modifiedDate',
	                }, 
	                {
						// add Operation column not persisted on the server-side
						data : 'Operation',
						orderable : false,
						searchable : false,
						render : function(data, type, row) {
							var $c = '';							
							$c += '<button class="btn btn-sm btn-success" onclick="edit(' + row.id + ')" id="btnReject"><span class="glyphicon glyphicon-edit"></span> &nbsp; Edit</button> ';
							return $c;
						}
					}
            	]
			});
			
			$('<a class="btn btn-sm btn-success" style="margin:0px 10px;" onclick="createItem()">New Request Item</a>').prependTo('div.dataTables_filter');
						
			$("#btnSave").on('click', function(e) {
				var message = '';				
				if ($("#item").val() === '') {
					message += 'Please provide Item.<br/><br/>';
				}
				if ($("#description").val() === '') {
					message += 'Please provide Description.<br/><br/>';
				}
				if ($.trim(message) !== '') {
					swal({
					  title: 'Please fill Validations!',
					  html: message
					});
					return false;
				}
				
				swal({
				  title: 'Are you sure?',
				  html: message,
				  type: 'info',
				  showCancelButton: true,
				  showCloseButton: true,
				  confirmButtonColor: '#3085d6',
				  cancelButtonColor: '#d33',
				  confirmButtonText: 'Submit',
				}).then((result) => {
					if (result.value) {						
						if ($.trim(message) !== '') {
							swal('Please fill Validations!');
						} else {
							$("#loader").fadeIn();
							$("#requestItemForm").submit();
						}
					}
				});
			});
		});
				
		
		var createItem = function() {			
			$("#addRequestItemModal").modal({
				show : true,
				keyboard: false,
				backdrop: 'static'
			});
		}
		var edit = function(requestItemId) {			
			$.ajax({
		        async : true,
		        type : "GET",
		        url : '/sr/request-item/get',
		        dataType : "json",
		        data: {
		        	id: requestItemId,
		        },
		        success : function(reqItem) {		        	
		        	if (reqItem !== null) {
		        		$("#reqItemId").val(reqItem.id);
		        		$("#item").val(reqItem.item);		        		
		        		$("#description").val(reqItem.description);		        		
		        	}
		        },
		        error : function(xhr, ajaxOptions, thrownError) {
		            alert(xhr.status);
		            alert(thrownError);
		        }
		    });
			
			$("#addRequestItemModal").modal({
				show : true,
				keyboard: false,
				backdrop: 'static'
			});
		}
					
	/*]]>*/
    </script>
</body>
</html>